# FastAPI and web server
fastapi>=0.68.0
uvicorn>=0.15.0

# Database
sqlalchemy>=1.4.0
psycopg2-binary>=2.9.1
alembic>=1.7.4

# Authentication and security
python-jose>=3.3.0
passlib>=1.7.4
python-multipart>=0.0.5

# Pydantic and settings management
pydantic>=1.9.0
pydantic-settings>=2.0.0  # Add this for Pydantic v2 compatibility

# WebPush
pywebpush>=1.14.0

# Celery and message broker
celery>=5.1.2
redis>=4.0.2

# Utility and helper packages
python-dotenv>=0.19.1
requests>=2.26.0
tenacity>=8.0.1
